// Global styles
@include sprites($spritesheet-sprites);

body {
	font-family: 'Open Sans', sans-serif;
}

//added by Jason
.aboutimage {
  overflow: hidden;
  border:3px solid #777;
  border-radius: 3px;
  margin-top: 15px;
}