/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-bars-name: 'icon-bars';
$icon-bars-x: 0px;
$icon-bars-y: 0px;
$icon-bars-offset-x: 0px;
$icon-bars-offset-y: 0px;
$icon-bars-width: 128px;
$icon-bars-height: 128px;
$icon-bars-total-width: 384px;
$icon-bars-total-height: 268px;
$icon-bars-image: '../images/spritesheet.png';
$icon-bars: (0px, 0px, 0px, 0px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-bars', );
$icon-checkmark-name: 'icon-checkmark';
$icon-checkmark-x: 38px;
$icon-checkmark-y: 256px;
$icon-checkmark-offset-x: -38px;
$icon-checkmark-offset-y: -256px;
$icon-checkmark-width: 12px;
$icon-checkmark-height: 12px;
$icon-checkmark-total-width: 384px;
$icon-checkmark-total-height: 268px;
$icon-checkmark-image: '../images/spritesheet.png';
$icon-checkmark: (38px, 256px, -38px, -256px, 12px, 12px, 384px, 268px, '../images/spritesheet.png', 'icon-checkmark', );
$icon-connection-name: 'icon-connection';
$icon-connection-x: 0px;
$icon-connection-y: 256px;
$icon-connection-offset-x: 0px;
$icon-connection-offset-y: -256px;
$icon-connection-width: 14px;
$icon-connection-height: 12px;
$icon-connection-total-width: 384px;
$icon-connection-total-height: 268px;
$icon-connection-image: '../images/spritesheet.png';
$icon-connection: (0px, 256px, 0px, -256px, 14px, 12px, 384px, 268px, '../images/spritesheet.png', 'icon-connection', );
$icon-film-name: 'icon-film';
$icon-film-x: 128px;
$icon-film-y: 128px;
$icon-film-offset-x: -128px;
$icon-film-offset-y: -128px;
$icon-film-width: 128px;
$icon-film-height: 128px;
$icon-film-total-width: 384px;
$icon-film-total-height: 268px;
$icon-film-image: '../images/spritesheet.png';
$icon-film: (128px, 128px, -128px, -128px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-film', );
$icon-notebook-name: 'icon-notebook';
$icon-notebook-x: 256px;
$icon-notebook-y: 0px;
$icon-notebook-offset-x: -256px;
$icon-notebook-offset-y: 0px;
$icon-notebook-width: 128px;
$icon-notebook-height: 128px;
$icon-notebook-total-width: 384px;
$icon-notebook-total-height: 268px;
$icon-notebook-image: '../images/spritesheet.png';
$icon-notebook: (256px, 0px, -256px, 0px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-notebook', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 50px;
$icon-ok-y: 256px;
$icon-ok-offset-x: -50px;
$icon-ok-offset-y: -256px;
$icon-ok-width: 12px;
$icon-ok-height: 12px;
$icon-ok-total-width: 384px;
$icon-ok-total-height: 268px;
$icon-ok-image: '../images/spritesheet.png';
$icon-ok: (50px, 256px, -50px, -256px, 12px, 12px, 384px, 268px, '../images/spritesheet.png', 'icon-ok', );
$icon-plus-sign-name: 'icon-plus-sign';
$icon-plus-sign-x: 14px;
$icon-plus-sign-y: 256px;
$icon-plus-sign-offset-x: -14px;
$icon-plus-sign-offset-y: -256px;
$icon-plus-sign-width: 12px;
$icon-plus-sign-height: 12px;
$icon-plus-sign-total-width: 384px;
$icon-plus-sign-total-height: 268px;
$icon-plus-sign-image: '../images/spritesheet.png';
$icon-plus-sign: (14px, 256px, -14px, -256px, 12px, 12px, 384px, 268px, '../images/spritesheet.png', 'icon-plus-sign', );
$icon-plus-name: 'icon-plus';
$icon-plus-x: 26px;
$icon-plus-y: 256px;
$icon-plus-offset-x: -26px;
$icon-plus-offset-y: -256px;
$icon-plus-width: 12px;
$icon-plus-height: 12px;
$icon-plus-total-width: 384px;
$icon-plus-total-height: 268px;
$icon-plus-image: '../images/spritesheet.png';
$icon-plus: (26px, 256px, -26px, -256px, 12px, 12px, 384px, 268px, '../images/spritesheet.png', 'icon-plus', );
$icon-stats-name: 'icon-stats';
$icon-stats-x: 256px;
$icon-stats-y: 128px;
$icon-stats-offset-x: -256px;
$icon-stats-offset-y: -128px;
$icon-stats-width: 128px;
$icon-stats-height: 128px;
$icon-stats-total-width: 384px;
$icon-stats-total-height: 268px;
$icon-stats-image: '../images/spritesheet.png';
$icon-stats: (256px, 128px, -256px, -128px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-stats', );
$icon-tag-name: 'icon-tag';
$icon-tag-x: 0px;
$icon-tag-y: 128px;
$icon-tag-offset-x: 0px;
$icon-tag-offset-y: -128px;
$icon-tag-width: 128px;
$icon-tag-height: 128px;
$icon-tag-total-width: 384px;
$icon-tag-total-height: 268px;
$icon-tag-image: '../images/spritesheet.png';
$icon-tag: (0px, 128px, 0px, -128px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-tag', );
$icon-target-name: 'icon-target';
$icon-target-x: 128px;
$icon-target-y: 0px;
$icon-target-offset-x: -128px;
$icon-target-offset-y: 0px;
$icon-target-width: 128px;
$icon-target-height: 128px;
$icon-target-total-width: 384px;
$icon-target-total-height: 268px;
$icon-target-image: '../images/spritesheet.png';
$icon-target: (128px, 0px, -128px, 0px, 128px, 128px, 384px, 268px, '../images/spritesheet.png', 'icon-target', );
$spritesheet-width: 384px;
$spritesheet-height: 268px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($icon-bars, $icon-checkmark, $icon-connection, $icon-film, $icon-notebook, $icon-ok, $icon-plus-sign, $icon-plus, $icon-stats, $icon-tag, $icon-target, );
$spritesheet: (384px, 268px, '../images/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
